<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen;">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>Welcome to Liberry</h2>
		</div>
		<div class="jumbotron" style="margin-top:0px; margin-bottom:0px;">
			<div class="container-fluid">
			<!-- <div class="row"> -->
				<!--div ng-repeat="move in topBucket" class="col-xs-12 col-md-6 col-lg-4 row"  style="cursor:pointer; margin-bottom:50px;" ui-sref='learn.category({categoryId:move.key})'>
					<div class="col-lg-4 col-md-4 col-xs-4">
						<img ng-src="{{move.image}}" width="100%" style="max-width: 90px;"/>
					</div>
					<div class="col-lg-8 col-md-8 col-xs-8">
					<h4>{{move.name}}</h4>
					<div class="progress" style="height:10px; margin-bottom:6px;">
					  <div class="progress-bar" role="progressbar" aria-valuenow="{{move.media_consumed}}" aria-valuemin="0" aria-valuemax="{{move.media_total}}" style="width: {{move.media_consumed/move.media_total*100}}%;">
					    <span class="sr-only">{{move.media_consumed/move.media_total*100 | number:0}}%></span>
					  </div>
					</div>
					<span>
						{{move.media_consumed}} / {{move.media_total}} videos watched
					</span>
					</div>
				</div-->

				<div ng-repeat="item in category" class="col-xs-12 col-md-6 col-lg-4 row"  style="cursor:pointer; margin-bottom:50px;" ui-sref='learn.category({categoryId:item.key, categoryObject:item})'>
					<div class="col-lg-4 col-md-4 col-xs-4">
						<img ng-src="{{item.imageurl}}" width="100%" style="max-width: 90px;"/>
					</div>

					<div ng-show="item.type == 'video'">
						<div class="col-lg-8 col-md-8 col-xs-8">
							<i class="glyphicon glyphicon-facetime-video"></i>
						</div>
					</div>
					<div ng-show="item.type == 'doc'">
						<div class="col-lg-8 col-md-8 col-xs-8">
							<i class="glyphicon glyphicon-file"></i>
						</div>
					</div>
					<div ng-show="item.type == 'music'">
						<div class="col-lg-8 col-md-8 col-xs-8">
							<i class="glyphicon glyphicon-music"></i>
						</div>
					</div>
					<div ng-show="item.type == 'game'">
						<div class="col-lg-8 col-md-8 col-xs-8">
							<i class="glyphicon glyphicon-road"></i>
						</div>
					</div>
					<div ng-show="item.type == 'category'">
						<div class="col-lg-8 col-md-8 col-xs-8">
							<i class="glyphicon glyphicon-folder-open"></i>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-xs-8">
						<h4>{{item.name}}</h4>
					</div>
				</div>
			</div>
		</div>
	</snap-content>	
</div>